
<div class="menu-principal col-xs-12 col-md-2">
      <ul>
      	<li>Menu</li>
      	<li>-----</li>
        <li class="mouse-hover">Blusas</li>
        <li class="mouse-hover">Camisetas</li>
        <li class="mouse-hover">Calças</li>
        <li class="mouse-hover">Saias</li>
        <li class="mouse-hover">Shorts</li>
        <li class="mouse-hover">Vestidos</li>
        <li class="mouse-hover">Casacos</li>
        <li class="mouse-hover">Acessórios</li>
        <li class="mouse-hover">Ofertas</li>
        <li class="mouse-hover">Todos</li>
      </ul>
    </div>